*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
height:100%;
width:100%;

}

:root{
   --x:400px;
   --y:400px;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items:center ;
}
main video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.spotlight{
    width: 100%;
    height: 100%;
    background:radial-gradient( 150px 140px ellipse at var(--x) var(--y)  ,rgba(25, 25, 25, 0.007)  ,rgba(15, 15, 15, 0.91)  );
    position: absolute;
    z-index: 9;
}