*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    overflow:hidden
}

main{
    height: 100vh;
    width: 100%;
    background-color:#121212;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap:;

    button{
        padding: 10px 25px;
        font-size: 25px;
        font-weight: 700;
        letter-spacing:1.5px;
        border: none;
        border-radius: 7px;
        position: relative;
        z-index: 9;
    }
    button:active{
        scale:0.97
    }
}
