*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{

    background-color: #181818;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 30px;
    align-items:flex-start;
    flex-wrap: wrap;
    padding:30px;
    #card{
        width: 22%;
        height: 68vh;
        background-color: rgb(246, 246, 246);
        display: flex;
        flex-direction: column;
        padding:20px;
        border-radius: 10px;
        align-items: center;
        text-align: center;
        gap:10px;

        img{
            width:200px ;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 10px;
            box-shadow: -1px 1px 30px #181818;
        }
        h1{
            font-size: 40px;
        }
        h2{
            font-size: 30px;
            font-weight: 500;
        }
        p{
            font-size: 15px;
            font-weight: 700;
            letter-spacing: 1px;
        }
    }
}