*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:rgb(243, 243, 243)

}
html,body{
overflow: hidden;
}
main{
    width: 100%;
    height: 100vh;
    background-color:#181818;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .cursor{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        // background-color:rgb(243, 243, 243);
        background-color:transparent;
        position: absolute;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    h1{
        font-size: 20vw;
    }

}