*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
height:100%;
width:100%;
}

body{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #181818;
    gap:30px
}
.box{
    width: 25vh;
    height: 25vh;
}
.red{
    background-color:rgb(158, 5, 5);
}
.green{
    background-color: rgb(0, 104, 0);
}
.blue{
    background-color:rgb(0, 0, 164);
}

.box:hover{
    transform: scale(1.2)!important;
}
body:has(.box:hover) .box{
    transform: scale(0.8);
    opacity: 0.5;
}
