*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100vh;
    background-color: rgb(60, 10, 10);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;

    #box{
        height: 70vh;
        width: 25%;
        justify-content: center;
        display:flex;
        position: relative;

        #img{
            width: 100%;
            object-fit: cover;
        }
        #content{
            position: absolute;
            display: flex;
            bottom:0;
            width:100%;
            height:20%;
            background-color:rgb(28, 28, 28);
            justify-content: center;
            align-items: center;
             
            h1{
                font-size: 40px;
                color:aliceblue
            }
        }

    }

    button{
        font-size: 35px;
        padding:10px 20px;
        font-weight: 700;
        background-color:rgb(27, 27, 27);
        border:none;
        border-radius: 15px;
        color:aliceblue
    }
    button:active{
        scale:0.97
    }

}