*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html,body{

}
main{
  width: 100%;
  height: 100vh;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;

  #piano{
    width: 80%;
    height: 35vh;
    background-color: rgb(59, 56, 56);
    border-radius: 10px;
    border-top-right-radius: 40px;
    border-top-left-radius:40px ;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
    .black{
      background-color: #232323!important;
      color:aliceblue;
    }
    #key {
      width: 4.8%;
      height: 90%;
      background: white;
      border: 2px solid black;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      display: flex;
      align-items: flex-end;
      justify-content:center;
      padding-bottom: 10px;
      transition: 0.1s;
      border-top-right-radius: 20px;
      border-top-left-radius:20px ;
      border: none;
      text-transform: capitalize;
  }

  #key:active {
      background: #ddd;
      transform: translateY(4px);
  }
  
  }
}
