*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
height:100%;
width:100%;
background-color: #191919;
}
body{
    anchor-name: --anchor;   
}

nav{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
nav h1{
    color:aliceblue;
    padding:5px 25px;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;  
    letter-spacing: 1px; 
}
nav h1:hover{
    anchor-name: --anchor;
}
.anchor{
    background-color: rgba(153, 153, 153, 0.471);
    position-anchor : --anchor;
    top: anchor(top);
    bottom: anchor(bottom);
    left: anchor(left);
    right: anchor(right);
    pointer-events: none;
    position: absolute;
    border-radius: 20px;
    transition: all 0.1s linear;
}
