*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html,body{

}
main{
    width: 100%;
    height: 100vh;
    background-color: #101010;
    position: relative;
    .hover{
        width: 100%;
        height: 20vh;
        border-bottom: 4px solid rgb(245, 245, 245);
        padding: 0px 10px;
        display: flex;
        position: relative;
        cursor: none;
        h1{
            font-size: 100px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            z-index: 9 ;
            mix-blend-mode: difference;
        }
        img{
            width:130px;
            height: 130px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            position: absolute;
            opacity:0;
            scale:0;
            transition: all ease 0.3;
            position:fixed;

        }
    }
}