*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    overflow: hidden;
}
main{
    width: 100%;
    height: 100vh;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    text-align: center;

    h1{
            color:aliceblue;
            font-size: 4.5vw;
            margin-bottom: 7vh;
            margin-top: 15vh;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .piano{
        width: 70%;
        height: 48vh;
        background-color:aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        #piano2{
            width: 98%;
            height: 45vh;
            background-color:rgb(175, 175, 175);
            border:2px solid #111;
            border-radius: 5px;overflow: hidden;
            position: relative;
            #white{
                width: 4.9%;
                height: 100%;
                border: 2px solid #181818;
                background-color: #fff;
                color:#181818;
                font-size: 20px;
                text-transform: capitalize;
            }
            #black{
                position: absolute;
                width: 4%;
                height: 45%;
                background-color: #181818;
                color:#fff;
                margin-left: -22px;
                font-weight: 900;
                position:absolute;
                z-index: 2;

            }
            button{
                border-end-end-radius: 10px;
                border-end-start-radius: 10px;
                transition: 0.1s ease;
            }
            button:active{
                // scale:0.98; 
                transform: translateY(-6px);
                box-shadow: rgba(0, 0, 0, 0.17) 0px 5px 10px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 16px 8px;
            }
        }
    }
}