*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{

}
main{
    width: 100%;
    height: 100vh;
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    #card{
        width: 23%;
        height: 65vh;
        background-color:#121212 ;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding:30px;
        position: absolute;

     

        #img{
            width: 100%;
            height: 80%;
            position: relative;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
            #heart{
                font-size: 90px;
                color:transparent;
                background-image: url(https://img.freepik.com/premium-vector/vertical-background-with-smooth-gradient-vector-illustration_522680-306.jpg?semt=ais_hybrid&w=740&q=80);
                background-size: cover;
                background-position: center;
                background-clip: text;
                -webkit-background-clip: text;
                position: absolute;
                top:50%;
                left:50%;
                opacity:0;
                transform: translate(-50%,-50%) scale(0) rotate(-60deg);
                transition: all cubic-bezier(.65,1,.77,1.44) 0.3s;
            }
        }

        #icons{
            color: rgb(221, 221, 221);
            display: flex;justify-content: center;
            font-size: 50px;
            padding:20px 10px;
        }
        #icons:active{
            scale:0.97;
            color:transparent;
            background-image: url(https://img.freepik.com/premium-vector/vertical-background-with-smooth-gradient-vector-illustration_522680-306.jpg?semt=ais_hybrid&w=740&q=80);
            background-position: center;
            background-size: cover;
            background-clip: text;
            -webkit-background-clip: text;
        }

    }
}
