*{
    margin:0;
    padding:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

html,body{

}
main{
    width: 100%;
    height: 100vh;
    background-color:rgb(98, 214, 176);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    #card{
        width: 20%;
        height: 70vh;
        background-color: rgb(224, 224, 224);
        padding:20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap:10px;

        #img{
            width: 100%;
            height: 60%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        #data{
            h1{
                font-size:35px;
                font-weight: 500;

            }
            h2{
                margin-top:15px;
                font-size: 30px;
                font-weight: 500;
                color:rgb(192, 3, 3)
            }
            button{
                margin-top:25px;
                padding:7px 30px;
                font-size: 20px;
                border-radius: 10px;
                font-weight: 700;
                color:rgb(224, 224, 224);
                background-color:rgb(0, 165, 113);
                border:none;
            }
        }
    }


}
