*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body,html{

}
main{
    width: 100%;
    height: 100vh;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;

    
        #card{
            width: 30%;
            background-color: rgb(248, 248, 248);
            align-items: center;
            justify-content:flex-start;
            display: flex;
            flex-direction: column;
            text-align: center;
            border-radius: 15px;
            padding:30px  30px;
            
            h1{
                font-size: 15px;
                letter-spacing: 1px;
                font-weight: 500;
                span{
                    color:royalblue;
                    font-weight: 700
                }
            }

            #bar{
                margin-top:20px;
                width: 100%;
                height: 30px;
                background-color: rgb(206, 206, 206);
                border-radius: 50px;
                border:1px solid #3a3a3aa3;

                #innerbar{
                width: 0%;
                height: 100%;
                background-color: rgb(55, 55, 55);
                border-radius: 50px;
                border: none;
                }
            }

            #bottom{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding:10px;

                h1{
                    font-size: 50px;
                    font-weight: 900;
                }
                button{
                    padding:10px 20px;
                    font-size: 20px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    border: none;
                    border-radius: 12px;
                    background-color:#181818;
                    color:rgb(248, 248, 248);
                }
                button:active{
                    scale:0.97
                }
            }
        }

}
