*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
height:100%;
width:100%;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 20%;
    height: 45%;
    background-color:aliceblue;
}