*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
height:100%;
width:100%;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@property --rotate{
    syntax: "<angle>";
    initial-value : 0deg;
    inherits:false;
}
@keyframes rotation {
    from{
      --rotate : 0deg;
    }
    to{
        --rotate : 360deg;
    }
}

main{
    width: 100vw;
    height: 100vh;
    background-color:#191919;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 17%;
    height: 50%;
    border-radius: 10px;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: 0px solid transparent;
    background: linear-gradient(black) padding-box, 
    conic-gradient(from var(--rotate), rgb(255, 166, 0),black, rgb(255, 166, 0)) border-box;
    box-shadow: 0px 0px 0px rgb(255, 166, 0);
    animation: rotation 1s infinite linear;
    animation-play-state: paused;
    transition: all 0.1s linear;
    color:aliceblue;
    text-shadow: 0px 0px 0px  rgb(255, 166, 0) ;
    gap:5px;
}
.box:hover{
    animation-play-state: running;
    background-color: transparent;
    border: 4px solid transparent;
    box-shadow: 1px 1px 25px rgb(255, 166, 0);
    color: rgb(255, 166, 0);
    text-shadow: 0px 0px 2px  rgb(255, 166, 0) ;
}
.box:hover img{
    filter: drop-shadow(0px 0px 5px rgb(255, 166, 0));
}
.box img{
    width: 100%;
    height: 60%;
    object-fit: contain;
    object-position: center;
    margin-bottom: 10px;
}
